:root {
  --primary-background: #ffffff;
  --secondary-background: #f7f7f7;
  --foot-background: #191c26;
  --primary-title-color: #303030;
  --secondary-title-color: #ffffff;
  --primary-text-color: #555555;
  --secondary-text-color: #9da4bd;
  --accent-color: #ff6c00;
  --animations-function-time: cubic-bezier(0.4, 0, 0.2, 1);
}
