@include viewport($range: mobile-only) {
  .mobile-menu {
    position: absolute;
    display: none;
    top: 0;
    right: -31px;
    min-width: 337px;
    height: 100vh;
    padding: 118px 31px 227px 40px;
    background-color: var(--primary-background);

    transform: translateX(337px);
    transition: transform 250ms var(--animations-function-time),
      opacity 250ms var(--animations-function-time);

    &.is-open {
      display: block;
      opacity: 1;
      transform: translateX(0);
    }
  }
  .mobile-menu__navigation {
    margin-bottom: 64px;
  }

  // .mobile-menu__contacts {
  //   margin-bottom: 64px;
  // }

  .mobile-menu__button {
    width: 194px;
    margin-bottom: 64px;
  }
}
