.stat-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  width: calc((100% - 30px) / 2);
  height: 133px;
  padding: 20px 35px;
  text-align: center;
  background: #f7f7f7;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.35;
}
.stat-item__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.35;
  letter-spacing: 0.05em;
}
.stat-item__plus {
  margin-left: 2px;
  padding-top: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.37;
  color: var(--accent-color);
}
