.contacts {
  margin-left: auto;
  margin-right: auto;
  background-color: var(--foot-background);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1280px;
  background-image: url(../images/contactsbcg-480.png);

  @include viewport($range: retina) {
    background-image: url(../images/contactsbcg-480x2.png);
  }

  @include viewport($range: tablet) {
    background-image: url(../images/contactsbcg-768.png);
    @include viewport($range: retina) {
      background-image: url(../images/contactsbcg-768x2.png);
    }
  }
}

.adress-work-time-block {
  @include viewport($range: tablet-only) {
    display: flex;
  }
}
.contacts__second-title {
  text-align: center;
  @include main-title-mrb(40px, 42px);
  color: var(--secondary-title-color);

  @include viewport($range: desktop) {
    width: 420px;
    text-align: start;
  }
}

.contacts__adress {
  margin-bottom: 44px;
  @include viewport($range: tablet-only) {
    margin-right: 30px;
  }
}
