@include viewport($range: tablet) {
  .hero-body {
    padding: 0;
    // margin-left: auto;
    // margin-right: auto;
    background-image: url(/images/herobcg-577.jpg);

    background-color: rgba(25, 28, 38, 0.2);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 576px;

    @include viewport($range: retina) {
      background-image: url(/images/herobcg-577x2.jpg);
    }
  }

  .navigation-contacts {
    margin-bottom: 164px;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: top;
  }

  .mobile-menu__social-links {
    display: none;
  }

  .navigation-contacts__button {
    color: var(--secondary-title-color);
    margin-bottom: 20px;
  }
}
@include viewport($range: desktop) {
  .hero-body {
    width: 1073px;
    background-image: url(/images/herobcg-1073.jpg);

    @include viewport($range: retina) {
      background-image: url(/images/herobcg-1073x2.jpg);
    }
  }
  .navigation-contacts__button {
    margin-bottom: 0;
  }
  .navigation-contacts {
    align-items: center;
  }
}

.navigation-contacts__contacts {
  @include viewport($range: tablet-only) {
    margin-bottom: 20px;
    padding-right: 10px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}

.contacts-button {
  @include viewport($range: tablet-only) {
    display: flex;
    flex-direction: column-reverse;
    padding-right: 10px;
  }
  @include viewport($range: desktop) {
    display: flex;
    align-items: center;
  }
}
