.hero {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  background-image: url(/images/herobcg-480.jpg);

  background-color: rgba(25, 28, 38, 0.2);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1280px;

  @include viewport($range: retina) {
    background-image: url(/images/herobcg-480x2.jpg);
  }

  @include viewport($range: tablet) {
    background-image: none;
    background-color: var(--primary-background);
  }
}

.hero__container {
  @include viewport($range: tablet) {
    display: flex;
  }
}

.hero__header {
  position: relative;
  @include viewport($range: mobile-only) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    margin-bottom: 113px;
  }
}

.hero__title-block {
  padding-bottom: 183px;
  width: 306px;
  min-height: 189px;

  @include viewport($range: tablet) {
    width: 380px;
    padding-left: 70px;
  }
}

.hero__section-title {
  @include section-title-mrb(20px);
}

.hero__main-title {
  @include main-title-mrb(20px, 48px);
  color: var(--primary-background);
}

.hero__description {
  font-size: 16px;
  line-height: 1.62;

  @include viewport($range: tablet) {
    line-height: 1.8;
  }
}
